[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
[submodule "third_party/DeepGEMM"]
	path = third_party/DeepGEMM
	url = https://github.com/deepseek-ai/DeepGEMM.git
[submodule "third_party/FlashMLA"]
	path = third_party/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
[submodule "third_party/DeepEP"]
	path = third_party/DeepEP
	url = https://github.com/deepseek-ai/DeepEP.git
